@model QuanLiNhaHang.Common.UserLogin
<!-- menu profile quick info -->
<div class="profile clearfix">
    <div class="profile_info">
        <span>Xin chào quản lí,</span>
        <h2>
            @Model.TenNV
        <span>Mã:</span>@Model.MaNV
         </h2>
    </div>
</div>
