@{
    ViewBag.Title = "Home Page";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Restaurants</title>

    <!--META-->
    <meta name="viewport" content="width=device-width initial-scale=1.0">

    <!--FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Yeseva+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css for Index/css/grid.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css for Index/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css for Index/css/menu.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css for Index/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css for Index/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css for Index/css/animate.css">
    <!--JS-->

</head>

<body>
    <div class="se-pre-con">
        <div class="cssload-weird">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo"><a href="#"><img src="images/logo.png" alt="" /></a></div>
                    <nav class="nav-collapse">
                        <ul>
                            <li class="menu-item active"><a href="#banner" data-scroll>Home</a></li>
                            <li class="menu-item"><a href="#dish" data-scroll>About</a></li>
                            <li class="menu-item">@Html.ActionLink("Log in",)</li>
                        </ul>
                    </nav>
                    <div class="headesocial">
                        <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <section id="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.3s">
                        the right ingredients<br>
                        for the right food
                    </h1>
                    <img class="os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.5s" src="images/banner.jpg" alt="" />
                    <a href="#" class="table os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.7s">BOOK A TABLE</a>
                    <a href="#" class="menu os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.7s">SEE THE MENU</a>
                </div>
            </div>
        </div>
    </section>

    <section id="dish">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-5 col-md-5 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.9s">
                    <h2>Just the right food</h2>
                    <img class="parrern" src="images/dishdottm.png" alt="" />
                    <p>If you’ve been to one of our restaurants, you’ve seen – and tasted – what keeps our customers coming back for more. Perfect materials and freshly baked food, delicious Lambda cakes,  muffins, and gourmet coffees make us hard to resist! Stop in today and check us out!</p>
                    <img class="sign" src="images/sign.png" alt="" />

                </div>
                <div class="col-lg-7 col-sm-7 col-md-7 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.9s">
                    <img class="dish" src="images/dish.png" alt="" />
                </div>
            </div>
        </div>
    </section>

    <section id="ingredients">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="backbalck">
                        <h2 class="os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.3s">Fine ingredients</h2>
                        <img class="ingridpatrn os-animation" data-os-animation="flipInX" data-os-animation-delay="0.5s" src="images/ingridiantsbottom.png" alt="" />
                        <p class="os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.7s">If you’ve been to one of our restaurants, you’ve seen – and tasted – what keeps our customers coming back for more. Perfect materials and freshly baked food, delicious Lambda cakes,  muffins, and gourmet coffees make us hard to resist! Stop in today and check us out!</p>

                        <img class="ingri os-animation" data-os-animation="bounceIn" data-os-animation-delay="0.6s" src="images/1.png" alt="" />
                        <img class="ingri os-animation" data-os-animation="bounceIn" data-os-animation-delay="0.7s" src="images/2.png" alt="" />
                        <img class="ingri os-animation" data-os-animation="bounceIn" data-os-animation-delay="0.8s" src="images/3.png" alt="" />
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div id="menu">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6 col-md-6">
                    <article class="os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                        <h2>Appetisers</h2>
                        <img class="parrern" src="images/dishdottm.png" alt="" />
                        <h3>Tzatsiki <span>$3.99</span></h3>
                        <p>Refreshing traditional cucumber and garlic yoghurt dip.</p>
                        <h3>Tzatsiki <span>$3.99</span></h3>
                        <p>Refreshing traditional cucumber and garlic yoghurt dip.</p>
                        <h3>Tzatsiki <span>$3.99</span></h3>
                        <p>Refreshing traditional cucumber and garlic yoghurt dip.</p>
                    </article>

                    <article class="os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.7s">
                        <h2>Salads</h2>
                        <img class="parrern" src="images/dishdottm.png" alt="" />
                        <h3>Olive_Special <span>$5.99</span></h3>
                        <p>Refreshing traditional cucumber and garlic yoghurt dip.</p>
                        <div>
                            <h4>Special</h4>
                            <h3>Greek_Salad <span>$5.50</span></h3>
                            <p>.Pureed eggplant, garlic, green pepper and tomato dip.</p>
                        </div>
                        <h3>Gusto_Salad <span>$5.25</span></h3>
                        <p>Pureed eggplant, garlic, green pepper and tomato dip.</p>
                    </article>

                </div>
                <div class="col-lg-2"> <div class="noused">sd</div></div>
                <div class="col-lg-5 col-sm-6 col-md-6">
                    <article class="os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.5s">
                        <h2>Starters</h2>
                        <img class="parrern" src="images/dishdottm.png" alt="" />
                        <h3>Haloumi <span>$3.99</span></h3>
                        <p>Refreshing traditional cucumber and garlic yoghurt dip.</p>
                        <h3>Spinach_Pie <span>$5.50</span></h3>
                        <p>.Pureed eggplant, garlic, green pepper and tomato dip.</p>
                    </article>

                    <article class="os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.9s">
                        <h2>Main Dishes</h2>
                        <img class="parrern" src="images/dishdottm.png" alt="" />
                        <h3>Cornish_Mackerel <span>$5.99</span></h3>
                        <p>Refreshing traditional cucumber and garlic yoghurt dip.</p>
                        <div>
                            <h4>Special</h4>
                            <h3>Roast_Lamb <span>$5.50</span></h3>
                            <p>.Pureed eggplant, garlic, green pepper and tomato dip.</p>
                        </div>
                        <h3>Fried_Chicken <span>$5.25</span></h3>
                        <p>Pureed eggplant, garlic, green pepper and tomato dip.</p>
                        <h3>Pastitsio <span>$5.99</span></h3>
                        <p>Refreshing traditional cucumber and garlic yoghurt dip.</p>
                    </article>

                </div>

            </div>
        </div>
    </div>

    <section id="review">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="backbalckcenter os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.5s">
                        <h2>Guest Reviews</h2>
                        <img class="ingridpatrn" src="images/ingridiantsbottom.png" alt="" />
                        <p><i class="fa fa-quote-left fa-lg" aria-hidden="true"></i>If you’ve been to one of our restaurants, you’ve seen – and tasted – what keeps our customers coming back for more. Perfect materials and freshly baked food, delicious Lambda cakes,  muffins, and gourmet coffees make us hard to resist! Stop in today and check us out!</p>
                        <span>- food inc, New York</span>

                    </div>
                </div>

            </div>
        </div>
    </section>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4 col-sm-4 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.3s">
                    <h3>About Us</h3>
                    <img class="ingridpatrn" src="images/ingridiantsbottom.png" alt="" />
                    <p>
                        Lambda's new and expanded Chelsea location represents a truly authentic Greek patisserie, featuring breakfasts of fresh croissants and steaming bowls of café.
                        Lamda the best restaurant in town
                    </p>
                    <p style="padding-top:10px;">

                </div>
                <div class="col-lg-4 col-sm-4 col-sm-4 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.5s">
                    <h3>Opening Hours</h3>
                    <img class="ingridpatrn" src="images/ingridiantsbottom.png" alt="" />
                    Mon-Thu: 7:00am-8:00pm  <br>Fri-Sun: 7:00am-10:00pm
                    <div class="socials">
                        <i class="fa fa-cc-amex" aria-hidden="true"></i>
                        <i class="fa fa-cc-paypal" aria-hidden="true"></i>
                        <i class="fa fa-cc-visa" aria-hidden="true"></i>
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-sm-4 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.7s">
                    <h3>Our Location</h3>
                    <img class="ingridpatrn" src="images/ingridiantsbottom.png" alt="" />
                    <address>
                        19th Paradise Street Sitia<br> 128 Meserole Avenue
                    </address>
                    <div class="socials">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="~/Content/css for Index/js/script.js"></script>
    <script src="~/Content/css for Index/js/jquery-ui.js"></script>
    <script src="~/Content/css for Index/js/fixed-responsive-nav.js"></script>
    <script src="~/Content/css for Index/js/waypoints.min.js"></script>
</body>
</html>
